/**********************************
GENERAL
***********************************/


body {
  font-family: 'Raleway', sans-serif;
  background: url('../img/background.jpg');
  background-size: 100%;
}


.pic, img { 
    float: left;
    width: 100%;
    border-radius: 5px;
}


#container {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}



/**********************************
HEADING
***********************************/

header {
	max-width: 100%;
	margin: 6% 0% 6% 15%;
}

h1 {
	display: inline;
	width: 25%;	
	font-weight: 40;
	margin-right: 10%;
}

/**********************************
NAVIGATION
***********************************/


.nav,
.nav li {
	display: inline;
}

.nav li {
	margin-right: 10%;
}


/**********************************
PAGE: Home
***********************************/

#main_img img {
	max-width: 70%;
	margin: 0 15% 0 15%;
	opacity: 100%;
}

#main_img {
	max-width: 100%;
}


/**********************************
FOOTER
***********************************/

footer {
	margin: 5% 20% 1% 18%;
	font-size: .80em;
}



/**********************************
MEDIA QUERIES
***********************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1680px) {
    .pic, div {
        width: 30%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .pic, div {
        width: 45%;
    }

    h1 {
        margin-right: 0;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .pic, div {
        width: 70%;
    }
}




