/**********************************
GENERAL
***********************************/


body {
  font-family: 'Raleway', sans-serif;
  background: url('../img/background.jpg');
  background-size: 100%;
}


.pic img { 
    width: 100%;
    border-radius: 5px;

}


#container {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}



/**********************************
HEADING
***********************************/

header {
	max-width: 100%;
	margin: 6% 0% 6% 15%;
}

h1 {
	display: inline;
	width: 25%;	
	font-weight: 40;
	margin-right: 10%;
}

/**********************************
NAVIGATION
***********************************/

.nav {
    margin-left: -3.2%;
}

.nav li {
	display: inline;
    margin-right: 5%;
}


/**********************************
FOOTER
***********************************/

footer {
	margin: 10% 20% 1% 15%;
	font-size: .80em;
}


/**********************************
CONTACT
***********************************/

.wrapper {
    margin-left: 15%;
}


/**********************************
MEDIA QUERIES
***********************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1680px) {
    .pic {
        width: 30%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .pic {
        width: 45%;
    }

    .nav {
        margin-left: -5%%;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .pic {
        width: 70%;
    }

    .nav {
        margin-left: -10%%;
    }
}



/**********************************
PAGE: Home
***********************************/

#main_img img {
    width: 60%;
    margin: 0 15% 0 15%;
    opacity: 100%;
    border-radius: 5px;
}
